<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- here are your server, appllication and other settings-->
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SafeServiceConf">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
      <!--<wsHttpBinding>
        <binding name="UsernameWithTransport">
          <security mode="Transport">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>-->
    </bindings>
    <services>
      <!--<service name="BasicAuthWCF.Service1">
        <endpoint address="https://localhost/BasicAuthWCF" binding="wsHttpBinding" bindingConfiguration="UsernameWithTransport" name="BasicEndpoint" contract="BasicAuthWCF.IService1" />
      </service>-->
      <service behaviorConfiguration="SafeSerice.ServiceBehavior" name="BasicAuthWCF.Service1">
        <endpoint address="" binding="wsHttpBinding" contract="BasicAuthWCF.IService1" bindingConfiguration="SafeServiceConf">
        </endpoint>
        <endpoint address="mex" binding="mexHttpsBinding" contract="BasicAuthWCF.IService1"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SafeSerice.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="BasicAuthWCF.UNValidator,BasicAuthWCF" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- comment this if you don't want to make diag trace -->
    <!--<diagnostics>
      <messageLogging maxMessagesToLog="30000"

              logEntireMessage="true"

              logMessagesAtServiceLevel="false"

              logMalformedMessages="true"

              logMessagesAtTransportLevel="true">
        <filters>
          <clear/>
        </filters>
      </messageLogging>
    </diagnostics>-->
  </system.serviceModel>
  <!-- comment this if you don't want to make diag trace -->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Temp\Server2.svclog" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <system.web>
    <compilation debug="true" />
  </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>